{% set date_id = "selected_date_enter" %}
{% set date_to_id = "selected_date_to_enter" %}
{% set result_id = "result_enter" %}
{% set show_date_id = "show_date_enter" %}
{% set button_id = "btn_show_enter" %}
{% set print_id = "print_container_enter" %}
{% set ul_school_id = "result_school_enter" %}
{% set default_text_school = "Укажите учреждение" %}

<form class="form-horizontal filters">
    <div class="form-group">
        <label class="col-xs-2 control-label">Период:</label>
        <div class='col-xs-3 input-group date datepicker' style="width: 170px; float: left;">
            <input type='text' class="form-control" value="{{ current_date }}" id="{{ date_id }}"/>
            <span class="input-group-addon">
                <img src="{{ asset('img/iconCalendar.png') }}" />
            </span>
        </div>

        <div class='col-xs-3 input-group date datepicker' style="width: 170px; float: left;">
            <input type='text' class="form-control" value="{{ current_date }}" id="{{ date_to_id }}"/>
            <span class="input-group-addon">
                <img src="{{ asset('img/iconCalendar.png') }}" />
            </span>
        </div>

        <div class="col-xs-5" style="float: right;">
            <a href="#" class = "printStyle" print_table_id='{{ print_id }}'>
                Распечатать <img src="{{ asset('img/iconPrint.png') }}"/>
            </a>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-4" style="float: right;">
            <button id="{{ button_id }}" class="btn dialog" style="float: right;">Отобразить данные</button>
        </div>
    </div>
</form>

<div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12" id="{{ result_id }}"></div>
    </div>
</div>


<script>
    $(function(){
        $('#{{ button_id }}').click(function(e){
            e.preventDefault();
            $.ajax({
                url: '{{ path("pupil_reports_enter") }}',
                type: 'POST',
                data: {
                    date_from: $('#{{ date_id }}').val(),
                    date_to: $('#{{ date_to_id }}').val()
                },
                success: function(data) {
                    $("#{{ result_id }}").html(data);
                }
            });
        });
    });
</script>
