<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="AZolotreva">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description" itemprop="description" content="" />
    <meta name="keywords" itemprop="description" content="" />

    <link rel="canonical" href="/" />
    <title>{% block title %}Школьные электронные технологии!{% endblock %}</title>

    {% block icon %}
        <link rel="icon" type="image/png" href="{{ asset('img/favicon.ico') }}" />
        <link rel="apple-touch-icon" href="{{ asset('img/favicon.ico') }}" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('img/favicon.ico') }}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/favicon.ico') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/animate.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bjqs.css') }}" rel="stylesheet">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=PT+Sans%3A400%2C700&#038;subset=latin%2Ccyrillic&#038;ver=4.1.5' type='text/css' media='all' />
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
        <link href="{{ asset('css/non-responsive.css') }}" rel="stylesheet">
    {% endblock %}

    {% block head_javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://yandex.st/modernizr/2.6.2/modernizr.min.js"></script>

        <!-- SCRIPTS -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/bootbox.min.js') }}"></script>
        <script src="{{ asset('js/smoothscroll.js') }}"></script>
        <script src="{{ asset('js/jquery.scrollTo.min.js') }}"></script>
        <script src="{{ asset('js/jquery.localScroll.min.js') }}"></script>
        <script src="{{ asset('js/jquery.nav.js') }}"></script>
        <script src="{{ asset('js/wow.js') }}"></script>
        <script src="{{ asset('js/bjqs-1.3.js') }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>

        <!--[if lt IE 9]>
        <script src="{{ asset('js/html5shiv.js') }}"></script>
        <script src="{{ asset('js/respond.min.js') }}"></script>
        <![endif]-->
    {% endblock %}

    {% block google %}
        <script type="text/javascript" src="https://scriptjava.net/source/scriptjava/scriptjava.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
        <script>
            function initialize() {
                var myLatlng = new google.maps.LatLng(58.014819, 56.22931);
                var mapOptions = {
                    zoom: 15,
                    center: myLatlng,
                    disableDefaultUI: true,
                    scrollwheel: false
                };
                var map = new google.maps.Map(document.getElementById('map'), mapOptions);

                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map
                });
            }

            google.maps.event.addDomListener(window, 'load', initialize);

        </script>
    {% endblock %}
</head>
<body>
        {% block header %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div class="container-fluid loader">
                <img src="{{ asset('img/logoMain.png') }}" />
            </div>

            <header>
                <div class="navbar navbar-inverse navbar-fixed-top sticky-navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-9">
                                <div class="navbar-header">
                                    <a href="{{ path('main_homepage') }}" class="logo">
                                        <img src="{{ asset('img/logoMain.png') }}"/>
                                    </a>
                                </div>

                                <div class="collapse navbar-collapse menu">
                                    <ul class="nav navbar-nav">
                                        <li>
                                            <a href="{{ path('main_homepage') }}#modules">Модули</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('main_homepage') }}#tariffs">Тарифы</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('main_homepage') }}#payment">Оплата</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('main_homepage') }}#contacts">Контакты</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-3 contacts">
                                <p>
                                    Тел: <a href="tel:+73422768826">8 (342) 276 88 26</a>
                                </p>
                                <p>
                                    Тел./факс: <a href="tel:+73422700234">8 (342) 270 02 34</a>
                                </p>
                                <p>
                                    E-mail: <a href="mailto:info@shket-it.ru">info@shket-it.ru</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}
        {% block body %}
            {% block content %}{% endblock %}
        {% endblock %}
        {% block footer %}
            <footer class="navbar-fixed-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3">
                            <ul class="menu">
                                <li><a href="{{ path('main_homepage', {'page': 'about'}) }}">О проекте</a></li>
                                <li><a href="{{ path('main_homepage', {'page': 'documents'}) }}">Документы</a></li>
                                <li><a href="{{ path('main_homepage', {'page': 'news'}) }}">Новости</a></li>
                                <li><a href="{{ path('main_homepage', {'page': 'titles'}) }}">Статьи</a></li>
                                <li><a href="{{ path('main_homepage', {'page': 'faq'}) }}">Вопрос-ответ</a></li>
                                <li><a href="{{ path('main_homepage', {'page': 'forusers'}) }}">Пользователям</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <div class="now">
                                Сейчас в системе зарегистрировано
                                <span class="yellow">
                                    <a href="{{ path('main_homepage', {'page': 'schools'}) }}">16</a>
                                </span>
                                учреждений <span class="yellow">{{ render(controller('MainBundle:Main:countUser')) }}</span>
                                пользователей
                            </div>
                            <div class="col-xs-6">
                                <a class="btn btn-white" href="{{ asset('others/School_food.ppt') }}">Скачать презентацию</a>
                            </div>
                            <div class="col-xs-6">
                                <a class="btn btn-yellow" id="linkMail" href="#">Отправить сообщение</a>
                            </div>
                        </div>
                        <div class="col-xs-3 contacts">
                            <p>
                                Тел: <a href="tel:+73422768826">8 (342) 276 88 26</a>
                            </p>
                            <p>
                                Тел./факс: <a href="tel:+73422700234">8 (342) 270 02 34</a>
                            </p>
                            <p>
                                E-mail: <a href="mailto:info@shket-it.ru">info@shket-it.ru</a>
                            </p>
                            <p>
                                Адрес: 614045, г.Пермь
                            </p>
                            <p>
                                ул. Монастырская, д. 14, офис 356
                            </p>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- MAIL OVERLAY -->
            <div class="modal custom" id="modalMailto" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-content-inner">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Отправить сообщение</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        {% if mail_name is defined %}
                                            <input type="text" class="form-control" id="msgFIO" placeholder="ФИО" value="{{ mail_name }}">
                                        {% else %}
                                            <input type="text" class="form-control" id="msgFIO" placeholder="ФИО" >
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {% if mail_phone is defined %}
                                            <input type="text" class="form-control" id="msgPhone" placeholder="Телефон" value="{{ mail_phone }}">
                                        {% else %}
                                            <input type="text" class="form-control" id="msgPhone" placeholder="Телефон">
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {% if mail_email is defined %}
                                            <input type="email" class="form-control" id="msgEmail" placeholder="Email" value="{{ mail_email }}">
                                        {% else %}
                                            <input type="email" class="form-control" id="msgEmail" placeholder="Email">
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <textarea rows="4" class="form-control" id="msgMessage" placeholder="Сообщение"></textarea>
                                    </div>
                                </form>
                                <div id="msgErrors" class="modal-errors">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div>
                                    <button type="button" class="btn dialog" id="btnMessage">Отправить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </body>
</html>

<script>
    $(function(){

        $('#linkMsg').click(function(e){
            e.preventDefault();

            $('#msgErrors').html('');

            $('#modalMailto').modal({show : true});
        });

        $('#linkMail').click(function(e){
            e.preventDefault();
            var Button = $('#btnMail');
            Button.html('Отправить');

            var Errors = $('#mailErrors');
            Errors.html('');

            $('#modalMailto').modal({show : true});
        });

        $('#btnMessage').click(function(e){
            e.preventDefault();

            var Button = $(this);
            var Errors = $('#msgErrors');
            Errors.html('');

            var FIO = $('#msgFIO').val();
            var Phone = $('#msgPhone').val();
            var Email = $('#msgEmail').val();
            var Message = $('#msgMessage').val();
            FIO = FIO.trim();
            Phone = Phone.trim();
            Email = Email.trim();
            Message = Message.trim();

            if (FIO == '')
            {
                Errors.html('Не указано ФИО');
                return -2;
            }
            if (Phone == '')
            {
                Errors.html('Не указан телефон');
                return -2;
            }
            if (Email == '')
            {
                Errors.html('Не указан Email');
                return -2;
            }
            if (Message == '')
            {
                Errors.html('Не введено сообщение');
                return -2;
            }

            Button.html('Отправка...');

            $.ajax({
                url: "{{ path('main_sending_post') }}",
                type: 'POST',
                data: {fio : FIO, phone : Phone, email: Email, msg : Message },
                success: function(data) {
                    Button.html(data);
                    $('#modalMessage').modal('hide');
                    $('#modalMailto').modal('hide');
                }
            })
        });
    });
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter33206293 = new Ya.Metrika({
                    id:33206293,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/33206293" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->