<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="AZolotreva">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <meta name="description" itemprop="description" content="" />
        <meta name="keywords" itemprop="description" content="" />

        <link rel="canonical" href="/" />
        <title>{% block title %}Школьные электронные технологии!{% endblock %}</title>

        {% block icon %}
            <link rel="icon" type="image/png" href="{{ asset('img/favicon.ico') }}" />
            <link rel="apple-touch-icon" href="{{ asset('img/favicon.ico') }}" />
            <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('img/favicon.ico') }}" />
            <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/favicon.ico') }}" />
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}

        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/animate.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/bjqs.css') }}" rel="stylesheet">
            <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans%3A400%2C700&#038;subset=latin%2Ccyrillic&#038;ver=4.1.5' type='text/css' media='all' />
            <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
            <link href="{{ asset('css/non-responsive.css') }}" rel="stylesheet">
        {% endblock %}

        {% block head_javascripts %}
            <script src="{{ asset('js/main.js') }}"></script>
            <!--[if lt IE 9]>
            <script src="{{ asset('js/html5shiv.js') }}"></script>
            <script src="js/respond.min.js"></script>
            <![endif]-->
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src="http://yandex.st/modernizr/2.6.2/modernizr.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
