{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-nav-tab-scrollable.css') }}" rel="stylesheet">
    <link href="{{ asset('css/tabdrop.css') }}" rel="stylesheet">
{% endblock %}

{% block head_javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/moment.js') }}"></script>
    <script src="{{ asset('js/moment-with-locales.js') }}"></script>
    <script src="{{ asset('js/bootstrap-nav-tab-scrollable.js') }}"></script>
    <script src="{{ asset('js/fuelux.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-tabdrop.js') }}"></script>
    <script src="{{ asset('js/mousehold.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.js') }}"></script>

{% endblock %}

{% block header %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container-fluid loader">
        <img src="{{ asset('img/logoMain.png') }}" />
    </div>

    <header>
        <div class="navbar navbar-inverse navbar-fixed-top sticky-navigation">
            <div class="container">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="navbar-header">
                            <a href="{{ path('main_homepage') }}" class="logo">
                                <img src="{{ asset('img/logoMain.png') }}"/>
                            </a>
                        </div>

                        <div class="collapse navbar-collapse menu">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="{{ path('main_homepage') }}#modules">Модули</a>
                                </li>
                                <li>
                                    <a href="{{ path('main_homepage') }}#tariffs">Тарифы</a>
                                </li>
                                <li>
                                    <a href="{{ path('main_homepage') }}#payment">Оплата</a>
                                </li>
                                <li>
                                    <a href="{{ path('main_homepage') }}#contacts">Контакты</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-3 contacts">
                        <a class="btn btn-yellow btn-special" id="linkMsg" style="margin-top: 20px;" href="#">Оставить сообщение</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container-fluid" id="cabinet">
        <div class="container cabinet">
            {% block user_information %}
            {% endblock %}
            <div class="row" style="margin-top: 40px; margin-left: -30px; margin-right: -30px;">
                <div class="col-xs-12">
                    <div class="cabinet-tabs">
                        <div class="tab-container">
                            {% block main_menu %}{% endblock %}
                        </div>

                        <div class="tab-container" style="margin-top: 20px;">
                            <div class="scroll-counter scroll-counter-left">1/12</div>
                            <div class="scroll-counter scroll-counter-right">1/13</div>
                            <div class="scroll-element scroll-left"><i class="fa fa-angle-left"></i></div>
                            <div class="scroll-element scroll-right"><i class="fa fa-angle-right"></i></div>
                            {% block menu %}{% endblock %}
                        </div>
                    </div>
                    {% block bread_crumbs %}
                        <div class="cabinet-breadcrumbs"></div>
                    {% endblock %}
                    {% block reports %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}