<div class='row report-title'>ОТЧЕТ АГЕНТА</div>
<div class='row report-subtitle'>о принятых денежных средствах в счет совершенных на точках обслуживания</div>
<div class='row report-subtitle'>сделках по агентскому договору за период с «{{ parameters['date_from'] }}» по «{{ parameters['date_to'] }}»</div>
<div class='row' style='margin-top: 20px;'>
    <div class='col-xs-12'>
        <p>
            ООО «Школьные электронные технологии», Адрес: 614045, г. Пермь, ул. Монастырская,
            д. 14, офис 356, ОГРН 1145958006490, ИНН 5904992823, КПП 590401001,  ОКПО 31553036,
            ОКВЭД 85.32, тел. 8-800-500-65-86, 8 (342) 276-88-26, тел./факс: 8 (342) 2-700-234
        </p>
        <p><strong>по общеобразовательному учреждению:__________________________________________________________________________</strong></p>
    </div>
</div>

{% for class in class_info %}
    {% set idx = loop.index0 %}
    <div class='row report-subtitle'>{{ class.name }} класс/группа ({{ class.teacher }})</div>
    <table class='table table-striped table-simple table-cabinet table-markered'>
        <thead>
        <th>Дата</th>
        <th>Наименование блюда</th>
        <th>Количество</th>
        <th>Стоимость блюда, руб.</th>
        <th>Сумма денежных средств, принятая Агентом, в качестве оплаты по совершенным сделкам, руб.</th>
        </thead>
        <tbody>
        {% for foods_info in food_info_by_period[idx] %}
            <tr>
                {% for food_info in foods_info %}
                    <td class='center'>{{ food_info }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endfor %}


{% for conclusion in conclusion_food_rep_second %}
    <div class='row' style='margin-top: 20px;'>
        <div class='col-xs-12'>
            <p><strong>Итого по учреждению за выбранный период:</strong> {{ conclusion[0] }} руб.</p>
        </div>
    </div>
{% endfor %}
