<div class='row' style='margin-top: 20px;'>
    <div class='col-xs-12 table-responsive'>
        <table class= 'table table-striped table-simple table-cabinet table-small'>
            <thead>
                <th>№</th>
                <th>ФИО</th>
                <th>Дата прохода</th>
                <th>Время прохода</th>
                <th>Направление прохода</th>
            </thead>
            <tbody>
            {% for str in result %}
                <tr>
                    <td class='center'>{{ str[0] }}</td>
                    <td data-user_id="{{ str[5] }}" class="show_pupil_enter_history" style="cursor: pointer">{{ str[1] }}</td>
                    <td class='center'>{{ str[3] }}</td>
                    <td class='center'>{{ str[4] }}</td>
                    <td class='center'>{{ str[2] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>