{% extends 'base.html.twig' %}

{% block body %}

    {% block content %}
        <div class="container-fluid" id="documents">
            <div class="container documents">
                <div class="row nice-container">
                    <div class="col-xs-12">
                        <h2 style="margin-top: 0px;">
                            Статьи
                        </h2>

                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-6">
                                <div class="nice-container-inner news-item">
                                    <a href="{{ path('main_news', {'news_title':'holidays'}) }}">
                                        <h4>
                                            Чем заняться школьнику в каникулы?
                                        </h4>
                                        <time>20.07.2015</time>
                                        <p>
                                            Большинство экспертов сошлись во мнении, что всё-таки придется организовать время и пространство для детей во время каникул. Это в первую очередь необходимо для снижения безнадзорности. Ведь если ребенок находится под присмотром, то серьёзно снижается травматизм, а увлечения алкоголем и наркотиками вообще не должно возникнуть. Ту же тягу к компьютерным играм в каникулы можно снизить, если дети будут чем-то заняты...
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="nice-container-inner news-item">
                                    <a href="{{ path('main_news', {'news_title':'psychological_advice'}) }}">
                                        <h4>
                                            Что нужно знать родителям первоклассников. Советы психолога
                                        </h4>
                                        <time>15.07.2015</time>
                                        <p>
                                            Из обычного житейского опыта и из самых умных психологических книжек известно, что тревога и волнение по поводу предстоящего события нарастают по мере его приближения. Это особенно касается ответственных жизненных перемен и ситуаций типа "неизвестно, как все сложится"...<br/><br/>
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-6">
                                <div class="nice-container-inner news-item">
                                    <a href="{{ path('main_news', {'news_title':'control_pupils'}) }}">
                                        <h4>
                                            Школьное обучение – необходим ли контроль?
                                        </h4>
                                        <time>06.07.2015</time>
                                        <p>
                                            Учеба в школе дается легко и просто далеко не каждому ребенку. Одни ученики учатся с радостью и интересом, легко воспринимают новые знания, другие постоянно отстают по программе и не могут понять элементарных вещей. В каждом случае ситуация зависит от многих факторов. Здесь и умение учителя заинтересовать своим предметом, и особенности детского организма, способности ребенка, уровень развития памяти и мышления, правильная мотивация к обучению. Огромное значение имеет отношение родителей к обучению ребенка – некоторые дети учатся самостоятельно, для других нужен постоянный контроль...
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="nice-container-inner news-item">
                                    <a href="{{ path('main_news', {'news_title':'school_feeding'}) }}">
                                        <h4>
                                            Школьное питание ребенка для пользы здоровья
                                        </h4>
                                        <time>04.07.2015</time>
                                        <p>
                                            Начало обучения в школе добавляет физические и умственные нагрузки к итак не простому периоду. Ведь с 6 до 12 лет происходят гормональные перестройки организма и его активный рост. Поэтому очень важным является ответственный подход к выбору продуктов, которые ребенок кушает в школе...<br/><br/><br/><br/><br/><br/>
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-6">
                                <div class="nice-container-inner news-item">
                                    <a href="{{ path('main_news', {'news_title':'sport_lessons'}) }}">
                                        <h4>
                                            Школьникам добавят уроков физкультуры
                                        </h4>
                                        <time>01.07.2015</time>
                                        <p>
                                            Министерство здравоохранения России хочет добавить в школах количество уроков физкультуры. Таким образом, планируется проводить не 3, а 6 занятий в неделю, а взрослых собираются обязать к зарядке на производстве...
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="nice-container-inner news-item">
                                    <a href="{{ path('main_news', {'news_title':'paid_lessons'}) }}">
                                        <h4>
                                            Родители школьников будут платить за продленку
                                        </h4>
                                        <time>21.06.2015</time>
                                        <p>
                                            Законопроект, исключающий доплату за пребывание ребенка в образовательном учреждении после уроков, не получил одобрения правительства...<br/><br/>
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-xs-6">
                                <div class="nice-container-inner news-item">
                                    <a href="{{ path('main_news', {'news_title':'beginning_lesson'}) }}">
                                        <h4>
                                            Каким должно быть начало урока, чтобы у ребят появился положительный настрой на работу?
                                        </h4>
                                        <time>16.06.2015</time>
                                        <p>
                                            Начало урока…Учитель заходит в класс и встречает пару десятков глаз. Какие они? Радостные или огорченные от того, что прозвенел уже звонок? Перед учителем сейчас не просто его ученики, а несколько детских душ, каждую из которых надо увлечь, пробудив интерес к своему предмету, чтобы, в конечном счете, получить продуктивный результат. Как же создать тот самый позитивный настрой, чтобы урок состоялся? Попробуем разобраться в данной статье...
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}