{% set combobox_school_id = "SCL_ID_DEFAULT" %}
{% set date_id = "selected_date_menu" %}
{% set result_id = "result_menu" %}
{% set show_date_id = "show_date_menu" %}
{% set button_id = "btn_show_menu" %}
{% set print_id = "print_container_menu" %}
{% set ul_school_id = "result_school_menu" %}
{% set default_text_school = "Укажите учреждение" %}

<form class="form-horizontal filters">
    <div class="form-group">
        <label class="col-xs-2 control-label">Дата:</label>
        <div class='col-xs-3 input-group date datepicker' style="width: 170px; float: left;">
            <input type='text' class="form-control" value="{{ current_date }}" id="{{ date_id }}"/>
            <span class="input-group-addon">
                <img src="{{ asset('img/iconCalendar.png') }}" />
            </span>
        </div>

        <div class="col-xs-5" style="float: right;">
            <a href="#" class = "printStyle" print_table_id='{{ print_id }}'>
                Распечатать <img src="{{ asset('img/iconPrint.png') }}"/>
            </a>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-4" style="float: right;">
            <button id="{{ button_id }}" class="btn dialog" style="float: right;">Отобразить данные</button>
        </div>
    </div>
</form>

<div id='{{ print_id }}'>
    <div class="row report-title">Дата: <span id="{{ show_date_id }}">{{ current_date }}</span></div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12" id="{{ result_id }}"></div>
    </div>
</div>


<script>
    $(function(){
        $('#{{ button_id }}').click(function(e){
            e.preventDefault();
            $("#{{ show_date_id }}").html($('#{{ date_id }}').val());

            $.ajax({
                url: '{{ path("teacher_reports_mainmenu") }}',
                type: 'POST',
                data: {
                    date: $('#{{ date_id }}').val()
                },
                success: function(data) {
                    $("#{{ result_id }}").html(data);
                }
            });
        });
    });
</script>
