<table class= 'table table-striped table-simple table-cabinet table-small'>
    <thead>
    <th>Дата поступления\списания</th>
    <th>Тип поступления\списания</th>
    <th>Расход</th>
    <th>Приход</th>
    <th>Текущий остаток</th>
    </thead>
    <tbody>
    {% for str in result %}
        <tr>
            <td class='center'>{{ str[0] }}</td>
            <td class='center'>{{ str[1] }}</td>
            <td class='center'>{{ str[2] }}</td>
            <td class='center'>{{ str[3] }}</td>
            <td class='center'>{{ str[4] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>