{% set modalEditUser = 'modalEditUser' %}
{% set editProfile = 'editProfile' %}
{% set btnEditUser = 'btnEditUser' %}
{% set editUserSurname = 'editUserSurname' %}
{% set editUserPhone = 'editUserPhone' %}
{% set editUserEmail = 'editUserEmail' %}

<div class="row nice-container user">
    <div class="col-xs-8" style="margin-top: 15px; margin-bottom: 8px;">
        <div class="photo" style="text-align: center;">
            {% if avatar is defined %}
                <img height="150" src="{{ asset('users/')}}{{ usr_id }}/avatar.jpg" />
            {% endif %}
        </div>
        <div class="info">
            <p class="name" >
                <span id="userName">{{ full_name }}</span>
            </p>
            <p class="item" >
                <strong>Учебное заведение:</strong>{{ info[0].NAME }}
            </p>
            <p class="item" >
                <strong>Классы/группы:</strong>
                {% for str in info %}
                    <p class="item"> {{ str.name }} </p>
                {% endfor %}
            </p>
            <p class="item">
                <strong>Телефон:</strong> <span id = "userTlph">{{ phone }}</span>
            </p>
            <p class="item">
                <strong>E-mail:</strong> <span id = "userEmail">{{ email }}</span>
            </p>
        </div>
        <a href="#" id="{{ editProfile }}" style="align: right;">
            <img src="{{ asset('img/iconEdit.png') }}" />
        </a>
    </div>
</div>

<!-- EDIT OVERLAY -->
<div class="modal big" id="{{ modalEditUser }}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-content-inner">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Редактировать профиль</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ path("teacher_update_photo") }}" class="form-horizontal user-form" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-xs-3" style="text-align: center;">
                                <input type="hidden" name="MAX_FILE_SIZE" value="5000000" />
                                <input type="file" accept="image/*" style="display: none;" id="editUserFile" name="userfile">
                                <a href="#" class="underline" style="text-align: center;" id="editUserFileUpload">Выбрать фото</a>
                                <input style="margin-top: 7px;" type="submit" value="Загрузить" />
                            </div>
                            <div class="col-xs-9">
                                <div class="form-group">
                                    <label for="{{ editUserSurname }}" class="col-xs-3 control-label">Фамилия Имя Отчество</label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="{{ editUserSurname }}" name="{{ editUserSurname }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="{{ editUserPhone }}" class="col-xs-3 control-label">Телефон</label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="{{ editUserPhone }}" name="{{ editUserPhone }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="{{ editUserEmail }}" class="col-xs-3 control-label">E-mail</label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="{{ editUserEmail }}" name="{{ editUserEmail }}">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn dialog col-xs-12" style="margin-top: 20px; width: 97%; text-align: center; left: 10px;" id="{{ btnEditUser }}">Сохранить</button>
                        </div>
                    </form>
                    <div id="editUserErrors" class="modal-errors">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){

        $('#editUserFileUpload').click(function(e){
            e.preventDefault();
            $('#editUserFile').click();
        });

        $('#{{ editProfile }}').click(function(e){
            e.preventDefault();

            $('#{{ editUserSurname }}').val($('#userName').text());
            $('#{{ editUserPhone }}').val($('#userTlph').text());
            $('#{{ editUserEmail }}').val($('#userEmail').text());

            $('#{{ modalEditUser }}').modal({show : true});
        });

        $('#{{ btnEditUser }}').click(function(e){
            e.preventDefault();

            var Errors = $('#editUserErrors');

            var newName = $('#{{ editUserSurname }}').val().trim();
            var newPhone = $('#{{ editUserPhone }}').val().trim();
            var newEmail = $('#{{ editUserEmail }}').val().trim();

            if (newName == ''){
                Errors.html('ФИО не задано!');
                return;
            }

            if (newEmail == '' && newPhone == ''){
                Errors.html('Не указан ни один из способ связи!');
                return;
            }

            $.ajax({
                url: '{{ path("teacher_update_user_information") }}',
                type: 'POST',
                data: {
                    name: newName,
                    phone : newPhone,
                    email: newEmail
                },
                success: function(data){
                    if (data == 1){
                        $('#{{ editUserSurname }}').text(newName);
                        $('#{{ editUserPhone }}').text(newPhone);
                        $('#{{ editUserEmail }}').text(newEmail);
                        $('#modalEditUser').modal('hide');
                    } else {
                        Errors.html('Ошибка сохранения значения в базе данных. Обратитесь к администратору');
                    }
                }
            });
        });
    });
</script>